@import "tailwindcss";
@import "tw-animate-css";

@theme {
  /* Fonts */
  --font-display: "Radley", serif;
  --font-body: "Inter", sans-serif;

  /* Color Palette */
  --color-primary: #0f3933;
  --color-secondary: #97fce4;
  --color-accent: #b0c5c1;
  --color-dark: #02231e;
  --color-light: #dbfbf6;
  --color-cream: #edfffc;
  --color-soft: #f5fefd;
  --color-deep: #193833;
  --color-white: #ffffff;
  --color-emerald: #23524c;
  --color-mint: #33998c;
  --color-forest: #072723;
  --color-jungle: #072724;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-dark);
}
